<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1e00c77573de4a16b9acfd0d98fcc812" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1e00c77573de4a16b9acfd0d98fcc812 = echarts.init(
            document.getElementById('1e00c77573de4a16b9acfd0d98fcc812'), 'white', {renderer: 'canvas'});
        var option_1e00c77573de4a16b9acfd0d98fcc812 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u56fe\u50cf\u5904\u7406",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "7\u67087",
                    101.0
                ],
                [
                    "7\u67088",
                    144.0
                ],
                [
                    "7\u67089",
                    101.0
                ],
                [
                    "7\u670810",
                    180.0
                ],
                [
                    "7\u670811",
                    146.0
                ],
                [
                    "7\u670812",
                    137.0
                ],
                [
                    "7\u670813",
                    108.0
                ],
                [
                    "7\u670814",
                    103.0
                ],
                [
                    "7\u670815",
                    108.0
                ],
                [
                    "7\u670816",
                    133.0
                ],
                [
                    "7\u670817",
                    127.0
                ],
                [
                    "7\u670818",
                    105.0
                ],
                [
                    "7\u670819",
                    93.0
                ],
                [
                    "7\u670820",
                    101.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(params){return params.value[1].toString() ;}
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "python",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "7\u67087",
                    119.0
                ],
                [
                    "7\u67088",
                    264.0
                ],
                [
                    "7\u67089",
                    543.0
                ],
                [
                    "7\u670810",
                    150.0
                ],
                [
                    "7\u670811",
                    161.0
                ],
                [
                    "7\u670812",
                    100.0
                ],
                [
                    "7\u670813",
                    143.0
                ],
                [
                    "7\u670814",
                    181.0
                ],
                [
                    "7\u670815",
                    286.0
                ],
                [
                    "7\u670816",
                    225.0
                ],
                [
                    "7\u670817",
                    226.0
                ],
                [
                    "7\u670818",
                    166.0
                ],
                [
                    "7\u670819",
                    107.0
                ],
                [
                    "7\u670820",
                    105.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(params){return params.value[1].toString() ;}
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "sql",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "7\u67087",
                    377.0
                ],
                [
                    "7\u67088",
                    351.0
                ],
                [
                    "7\u67089",
                    271.0
                ],
                [
                    "7\u670810",
                    202.0
                ],
                [
                    "7\u670811",
                    232.0
                ],
                [
                    "7\u670812",
                    124.0
                ],
                [
                    "7\u670813",
                    98.0
                ],
                [
                    "7\u670814",
                    122.0
                ],
                [
                    "7\u670815",
                    103.0
                ],
                [
                    "7\u670816",
                    103.0
                ],
                [
                    "7\u670817",
                    104.0
                ],
                [
                    "7\u670818",
                    110.0
                ],
                [
                    "7\u670819",
                    85.0
                ],
                [
                    "7\u670820",
                    231.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(params){return params.value[1].toString() ;}
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u7f51\u7edc",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "7\u67087",
                    1467.0
                ],
                [
                    "7\u67088",
                    107.0
                ],
                [
                    "7\u67089",
                    733.0
                ],
                [
                    "7\u670810",
                    153.0
                ],
                [
                    "7\u670811",
                    237.0
                ],
                [
                    "7\u670812",
                    123.0
                ],
                [
                    "7\u670813",
                    358.0
                ],
                [
                    "7\u670814",
                    266.0
                ],
                [
                    "7\u670815",
                    160.0
                ],
                [
                    "7\u670816",
                    122.0
                ],
                [
                    "7\u670817",
                    121.0
                ],
                [
                    "7\u670818",
                    195.0
                ],
                [
                    "7\u670819",
                    104.0
                ],
                [
                    "7\u670820",
                    134.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(params){return params.value[1].toString() ;}
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u8f6f\u4ef6\u5f00\u53d1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "7\u67087",
                    628.0
                ],
                [
                    "7\u67088",
                    281.0
                ],
                [
                    "7\u67089",
                    251.0
                ],
                [
                    "7\u670810",
                    260.0
                ],
                [
                    "7\u670811",
                    114.0
                ],
                [
                    "7\u670812",
                    335.0
                ],
                [
                    "7\u670813",
                    238.0
                ],
                [
                    "7\u670814",
                    695.0
                ],
                [
                    "7\u670815",
                    136.0
                ],
                [
                    "7\u670816",
                    200.0
                ],
                [
                    "7\u670817",
                    184.0
                ],
                [
                    "7\u670818",
                    117.0
                ],
                [
                    "7\u670819",
                    103.0
                ],
                [
                    "7\u670820",
                    84.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(params){return params.value[1].toString() ;}
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56fe\u50cf\u5904\u7406",
                "python",
                "sql",
                "\u7f51\u7edc",
                "\u8f6f\u4ef6\u5f00\u53d1"
            ],
            "selected": {
                "\u56fe\u50cf\u5904\u7406": true,
                "python": true,
                "sql": true,
                "\u7f51\u7edc": true,
                "\u8f6f\u4ef6\u5f00\u53d1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -30,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "7\u67087",
                "7\u67088",
                "7\u67089",
                "7\u670810",
                "7\u670811",
                "7\u670812",
                "7\u670813",
                "7\u670814",
                "7\u670815",
                "7\u670816",
                "7\u670817",
                "7\u670818",
                "7\u670819",
                "7\u670820",
                "7\u670821"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u9700\u6c42\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u8fd1\u671f\u9700\u6c42\u9884\u6d4b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1e00c77573de4a16b9acfd0d98fcc812.setOption(option_1e00c77573de4a16b9acfd0d98fcc812);
    </script>
</body>
</html>
